form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width:300px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	
}

input:focus {
    background-color: lightcyan
}

input[type=submit],
input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input[type=submit]:hover,
input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}